body {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
main {
  grid-column: 1 / span 2;
  /* background: #eaeaea; */
  align-items: center;
  justify-content: center;
}

#progress-bar {
  width: 10rem;
  height: 1rem;
  border: 0.3rem solid #89a2b8;
  margin-left: 30rem;
}

#progress-bar-full {
  height: 1rem;
  background-color: #89a2b8;
  width: 0%;
}

#attempts-taken {
  margin-left: 20rem;
}
