body {
  display: grid;
  font-family: "Inconsolata", monospace;
  background-color: #d8e4ff;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
  margin: 0 auto;
  max-width: 40em;
  padding: 1em 0;
}

header,
main {
  grid-column: 1 / span 2;
  align-items: center;
  justify-content: center;
}

main {
  margin-top: 3rem;
  margin-left: 8rem;
}

#combination {
  border: 0.1rem solid #35605a;
  background-color: #0f4881;
  width: 15rem;
  height: 5rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lock {
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

button {
  border: 0.1rem solid #35605a;
  font-family: "Inconsolata", monospace;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

button:hover {
  background-color: #3e8e41;
  color: white;
}

button:active {
  background-color: #35605a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#history-button {
  margin-right: 50rem;
}

#progress-bar {
  width: 10rem;
  height: 1rem;
  border: 0.1rem solid #89a2b8;
  margin-left: 30rem;
}

#progress-bar-full {
  height: 1rem;
  background-color: #0f4881;
  width: 0%;
}

#attempts-taken {
  margin-left: 30rem;
}

#time {
  margin-left: 15rem;
}

#minutes,
#seconds {
  border: 0.1rem solid #35605a;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
